.reason {
    width: 270px;
    height: 280px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.5));
    margin: 12px;
}